.top-btn {
  position: fixed;
  right: 20px;
  bottom: 25px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  transition: background-color 0.5s;
  opacity: 0;
  z-index: 999;

  &-arrow {
    animation-name: toTop;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  &:hover {
    background-color: orange;
    color: #fff;
  }

  &.visible {
    display: flex;
    gap: 5px;
    opacity: 1;
  }
}

@keyframes toTop {
  25% {
    transform: translateY(-3px);
  }
}
